h1 {font-family:Otomanopee One,sans-serif;font-size: ;color:#F44336;text-align: center;}

hr {border: 3px solid yellow;}

label {color:#F44336; font-size:30px;font-family:Otomanopee One;}

#img1 {border: 3px solid yellow; width:49%; height:400px}

#img2 {border: 3px solid yellow; width:49%; height:400px;}

#img3 {border: 3px solid yellow; width:49%; height:400px}

#img4 {border: 3px solid yellow; width:49%; height:400px}

#img5 {border: 3px solid yellow; width:49%; height:400px}

#img6 {border: 3px solid yellow; width:49%; height:400px}

#img7 {border: 3px solid yellow; width:49%; height:400px}

#img8 {border: 3px solid yellow; width:49%; height:400px}

body {background-color:#FFF9C4;} 